<% layout("/Layouts/boilerplate") %>
<div class="row ">
  <div class="col-8 offset-2">
<body>

    <h2>Update your </h2>
  
<form 
  method="post" 
  action="/listing/<%= edit.id %>?_method=PUT" 
  novalidate 
  class="needs-validation">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input value="<%= edit.title %>" name="listing[title]" type="text" class="form-control" required> 
        <div class="valid-feedback">title looks good!</div> 
      </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input value="<%= edit.image %>" name="listing[image]" class="form-control" required>
        <div class="invalid-feedback">image link should be needed</div> 
      </div>

    <div class="mb-3">
        <label for="description" class="form-label"> Description </label>
        <textarea rows="4" cols="20" name="listing[description]" type="text" class="form-control" required><%= edit.description %></textarea>
        <div class="invalid-feedback">define your description</div> 
      </div>

      <div class="row">

    <div class="mb-3 col-md-4">
        <label for="price" class="form-label"> Price </label>
        <input value="<%= edit.price %>" name="listing[price]" type="number" class="form-control" required>
        <div class="invalid-feedback">enter a valid price</div> 
      </div>

    <div class="mb-3 col-md-8">
        <label for="location" class="form-label"> Location </label>
        <input value="<%= edit.location %>" name="listing[location]" type="text" class="form-control" required>
        <div class="invalid-feedback">location should be valid</div> 
      </div>

      </div>

    <div class="mb-3">
        <label for="country" class="form-label"> country </label>
        <input value="<%= edit.country %>" name="listing[country]" type="text" class="form-control" required>
        <div class="invalid-feedback">country name should be valid</div> 
      </div>

    <button class="btn btn-dark mb-5 mt-4 edit-btn">Edit</button>
  
</form>
</body>
  </div>
</div>